button {
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 15px;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: deepskyblue;
}